link(rel='stylesheet', href='/css/base.css')

body
    #chat

script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react.min.js')
script(src='/js/highland.js')
script(src='/socket.io/socket.io.js')
script(src='/js/setup.js')
script(src='/js/chat.js')

